main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2181px;
    margin: 120px 0 160px 0;}
.values{
    display: flex;
    justify-content: center;}
.workers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 888px;}
        .chapter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #F2F5F9;
            width: 1110px;
            height: 128px;
            border: 64px solid rgba(255, 0, 0, 0);}
                .workers .text_container{
                    width: 1006px;}
                